body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  margin-top: 20px;
  color: #38bdf8;
}

canvas {
  background: #1e293b;
  margin-top: 20px;
  border: 3px solid #38bdf8;
}